REPO=https://github.com/DCGM/semant-demo.git
BRANCH=main

BACKEND_URL=https://test-main.demo.semant.cz

TEST_SUBDOMAIN=test-main.demo.semant.cz
TEST_ROUTER_NAME=semant-demo-test-main

WEAVIATE_HOST=weaviate
WEAVIATE_REST_PORT=8080
WEAVIATE_GRPC_PORT=50051

EMBEDDING_SERVICE_HOST=embedding-service
EMBEDDING_SERVICE_PORT=8001

SQL_DB_PATH=/mnt/ssd2/semant_demo_app_test_data/test-main

OLLAMA_URLS=http://localhost:11434
OLLAMA_MODEL=gemma3:12b
OPENAI_API_KEY=
OPENAI_API_URL=https://openrouter.ai/api/v1
OPENAI_MODEL=gpt-4o-mini
GOOGLE_API_KEY=
GOOGLE_MODEL=gemini-2.5-pro
MODEL_TEMPERATURE=0.0

LANGCHAIN_API_KEY=

FEEDBACK_WEBHOOK_URL=
FEEDBACK_LOG_PATH=

JWT_SECRET=

ALLOWED_ORIGIN=https://test-main.demo.semant.cz
PORT=8000
STATIC_PATH=./static

TOPICER_CONFIG_NAME=openai-xjuric